[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
playbook_vars_root = all
roles_path = roles
[persistent_connection]
connect_timeout = 60
command_timeout = 60
[ssh_connection]
ssh_args = -o KexAlgorithms=diffie-hellman-group14-sha1 -o HostKeyAlgorithms=ssh-rsa -o StrictHostKeyChecking=no -o PubkeyAcceptedKeyTypes=+ssh-rsa 
